<div *ngIf="userInfo">
  <p> Hello, user {{ userInfo.fullName }}. </p>
  <p> Did you know your ID is <b>{{ userInfo._id }}</b>? </p>
</div>

<h2> Our Phones </h2>

<div *ngIf="userInfo">
  <button (click)="showForm()">
    Add Phone
  </button>

  <app-phone-form
      *ngIf="isFormOn"
      (newPhoneNotifier)="handleNewPhone($event)"></app-phone-form>
</div>

<ul>
  <li *ngFor="let onePhone of phones">
    <h3> {{ onePhone.name }} </h3>
    <span> From {{ onePhone.brand }} </span>

    <a [routerLink]="['/phone', onePhone._id]">
      See Details
    </a>

    <img [src]="imageDomain + onePhone.image">
  </li>
</ul>
